In [1]:
import sys
sys.path.insert(0,"/Users/ahmed/Projects/gm_tool/")
from datamanager.DM_USA import DM_USA

In [2]:
country = "USA"
brands_name = {"BELGIUM": ["APERICUBE", "BABYBEL", "BOURSIN", "KIRI", "MINI BABYBEL", "VACHE QUI RIT", "MAREDSOUS"],
     "USA": ["BABYBEL", "THE LAUGHING COW", "BOURSIN", "KAUKAUNA", "MERKTS", "PRICES", "NURISHH"]}
aandp_brands_name = {"BELGIUM": ["APERICUBE", "BABYBEL", "BOURSIN", "KIRI", "MINI BABYBEL", "VACHE QUI RIT", "MAREDSOUS"],
    "USA": ["000BQ - BOURSIN", "000LA - THE LAUGHING COW", "000MB - MINI BABYBEL", "000KC - KAUKAUNA", "000PG - PRICE'S", "000MI - MERKTS", "003NH - NURISHH"]}
features = ["Date", "Brand", "Category", "Distribution", "Price per volume", "Sales in volume"]

In [3]:
# Loading dataframe using datamanager
data_manager = DM_USA(brands_name[country], aandp_brands_name[country])
df_bel = data_manager.get_df_bel()
df = data_manager.get_df()
df.head()
df_bel.head()

page 1/14
page 2/14
page 3/14
page 4/14
page 5/14
page 6/14
page 7/14
page 8/14
page 9/14
page 10/14
page 11/14
page 12/14
page 13/14
page 14/14
columns and types are correct

     Brand        Date          A&P  Rate of Innovation  Promo Cost   HH
0  BOURSIN  2018-01-07  30245.02665                 0.0         NaN  0.0
1  BOURSIN  2018-01-14  30245.02665                 0.0         NaN  0.0
2  BOURSIN  2018-01-21  30245.02665                 0.0         NaN  0.0
3  BOURSIN  2018-01-28  30245.02665                 0.0         NaN  0.0
4  BOURSIN  2018-02-04  25076.47000                 0.0         NaN  0.0

In [5]:
df_bel.groupby('Brand').count()

                  Date  A&P  Rate of Innovation  Promo Cost   HH
Brand
BABYBEL            208  208                 208         156  208
BOURSIN            208  208                 208         156  208
KAUKAUNA           208  208                 208         156  208
MERKTS             208  208                 208         156  208
NURISHH             52   52                   0          37    0
PRICES             208  208                 208         156  208
THE LAUGHING COW   208  208                 208         156  208